#shopping-cart-modal {
    background-color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 4px;
    top: 75px;
    right: 100px;
    width: 315px;
    height: 450px;
    box-shadow: 1px 1px 25px #00000015;
}

#shopping-cart-modal h3 {
    color: #474747;
    font-weight: 700;
    font-size: 16px;
}

#shopping-cart-modal #line {
    height: 1px;
    width: 100%;
    display: flex;
    margin: 20px 0;
    border: 1px solid #CCC;
}

#carrinho {
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#checkout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 84px;
    gap: 20px;
}

#lado-lado {
    display: flex;
    justify-content: space-between;
}

#btn-carrinho {
    width: 125px;
    height: 40px;
    border-radius: 8px;
    background-color: #c92071;
    color: #f5f5f5;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#btn-carrinho:hover {
    background-color: #991454;
}

#btn-esvaziar {
    transition: 1s ease-in-out;
    background-color: transparent;
    cursor: pointer;
}
#btn-esvaziar:hover {
    text-decoration: underline;
}

#total-title {
    font-size: 16px;
}
#total-price {
    font-size: 16px;
}
* {
    scroll-behavior: smooth;
}

/* ::-webkit-scrollbar-button{
    width: auto;
}

::-webkit-scrollbar-track{
    background-color: #474747;
} */