header {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

header .logo {
    margin-right: 27px;
    width: 253px;
    height: 44px;
}

header .logo img {
    width: 100%;
}

header .busca {
    flex: 1;
    background-color: #47474720;
    border-radius: 8px;
    height: 60px;
    position: relative;
}

header .busca input {
    width: 100%;
    height: 60px;
    padding-left: 16px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}

header .busca input:focus {
    border-radius: 8px;
    border: 2px solid #c92071;
}

header .busca box-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

header .busca box-icon:hover {
    fill: #c92071;
    cursor: pointer;
}

header .acoes {
    margin-left: 48px;
}

header nav {
    width: 100%;
    display: flex;
    gap: 5px;
}

header nav {
    width: 100%;
}

header nav ul {
    display: flex;
    gap: 30px;
}

header .acoes box-icon {
    transition: 0.3s ease-in-out;
    position: relative;
    margin-left: 70px;
    fill: #c92071;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

header .acoes box-icon::after {
    content: attr(items);
    position: absolute;
    left: 24px;
    top: 0px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    min-width: 16px;
    line-height: 16px;
    background-color: #EE4266;
    border-radius: 8px;
}

header .acoes box-icon:hover {
    fill: #c92071;
    cursor: pointer;
}

header .acoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .acoes a {
    line-height: 40px;
    padding: 0 26px;
    display: inline-block;
    transition: 0.5s ease-in-out;
}

header .acoes .underline {
    color: #474747;
    text-decoration: underline;
}

header .acoes .underline:hover {
    color: #c92071;
}

header .acoes .filled {
    text-align: center;
    background-color: #c92071;
    color: #fff;
    border-radius: 8px;
    width: 114px;
    height: 40px;
}

header .acoes .filled:hover {
    background-color: #991956;
}